@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    background-color: black;
    color: white;
    font-family: 'Montserrat';
}
.header{
    background-color: #000;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

form {
    text-align: center;
    padding: 2rem 4rem;
    display: flex;
    gap: 2rem;
    align-items: baseline;
    border-bottom: 2px solid black;
}
form input {
    outline: none;
    border: none;
}
input[type="text"] {
    border-bottom: 2px solid gray;
    padding: 0.6rem 2rem;
    border-radius: 5px;
}
input[type="file"] {
    padding: 0.6rem 2rem;
    border-radius: 5px;
}
button {
    background-color: #09f755;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: #000;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    border: 1.5px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
form button:hover {
    background-color: transparent;
    border: 1.5px solid #fff;
    color: #fff;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.header a img {
    height: 10rem;
}
.dataframe{
    border: 2px solid rgb(214, 202, 202);
    padding: 1rem 3rem !important;
}
tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
thead tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1rf 1fr 1fr !important;
}
thead tr th{
    text-align: center;
    padding: 0.8rem 1rem;
}
tr th:first-child{
    display: none;
}
table, th, td {
    border: 1px solid white;
  }
  tbody td{
      text-align: center;
      padding: 1rem 1.5rem;
  }
 .container div:last-child div{
     padding: 2rem 5rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }